<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helloworld>
            <sdfd>
                <enable>1</enable>
                <ngocthanh>Hello World</ngocthanh>
            </sdfd>
        </helloworld>
    </default>
</config>
